@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("./tailwind.css");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* CUSTOM CSS FOR REACT SLICK*/
.slick-prev,
.slick-next {
  display: none; /* hide default arrow buttons */
}
.slick-prev:before,
.slick-next:before {
  display: none; /* hide default arrow icons */
}

.slick-slide > div {
  margin: 0 8px; /* adds spacing around each slide in the slider */
}
.slick-list {
  margin: 0 -8px; /* Aligns the slides properly by counteracting the spacing added to the individual slides. */
}

/* styles for the arrow div */
.slick-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
