@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("./tailwind.css");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Custom styles for react-slick arrow buttons */
/* hide default arrow buttons */
.slick-prev,
.slick-next {
  display: none;
}

/* Custom styles for react-slick arrow icons */
/* hide default arrow icons */
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-slide > div {
  margin: 0 20px;
}

.slick-list {
  margin: 0 -20px; /* Counteract the extra margin on the edges */
}
